<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="img/logo.png">
    <link rel="stylesheet" href="css/output.css">
    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>
    <title>Features | Connectverse</title>
</head>

<body class="left-0 right-0 bg-white dark:bg-gray-900">

    <!-- Section: Design Block -->
    <section class="">
        <!-- Navbar -->
        <nav
            class="fixed flex top-0 w-full items-center justify-between bg-white py-2 shadow-sm shadow-neutral-700/10 dark:bg-gray-900 dark:shadow-black/30 lg:flex-wrap lg:justify-start">
            <div class="w-full flex flex-wrap items-center justify-between mx-auto p-4 ">
                <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse float-right ">
                    <img src="/img/logo.png" class="h-8" alt="Logo" />
                    <span
                        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">ConnectVerse</span>
                </a>
                <button id="theme-toggle" type="button"
                    class="t text-black dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 float-left">
                    <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                    </svg>
                    <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                            fill-rule="evenodd" clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>

        </nav>
        <!-- Navbar -->
    </section>
    <div class="max-w-3xl mx-auto text-center mt-16">
        <h1
            class="text-4xl font-bold   text-black dark:text-white leading-tight mb-2 border-t-4 border-b-4 border-purple-600 py-4">
            Fetures
        </h1>
        <p class="text-lg  text-black dark:text-white mb-8"></p>
    </div>
    <!-- protype sectio  -->
    <section
        class="container flex flex-col-reverse md:flex-row justify-center items-center w-full my-12 mx-auto font-nun p-8">
        <img class="w-full md:w-1/2 my-6 md:my-0" data-aos="zoom-in-right" src="/img/1.png" alt="" />
        <div class="left w-full md:w-1/2 text-left md:text-left" data-aos="zoom-in-left">
            <h1 class="text-3xl md:text-4xl font-extrabold text-[#3329e0]">
                Unveiling the Power of Connection: Embracing the ConnectVerse Experience!
            </h1>
            <p class="my-6   text-black dark:text-white">
                In today's fast-paced world, the essence of genuine human connection often gets lost in the noise of
                digital interactions. However, within the realm of the ConnectVerse, we aim to redefine the significance
                of forging new connections and embracing the transformative power of human interaction.
            </p>

        </div>
    </section>
    <div
        class="container flex flex-col-reverse md:flex-row justify-center items-center w-full my-12 mx-auto font-nun p-8 ">
        <div class="left w-full md:w-1/2 text-center md:text-left" data-aos="fade-right">
            <h1 class="text-3xl md:text-4xl font-extrabold text-[#3329e0]">
                Accountless Connections: Embracing Spontaneity in the ConnectVerse
            </h1>
            <p class="my-6   text-black dark:text-white">
                In the digital age, the concept of making new connections often comes with the prerequisite of creating
                an account on various platforms. However, within the ConnectVerse, we challenge this norm by offering a
                platform where users can engage in spontaneous connections without the need for any accounts or
                registrations.
            </p>
            <p class="  text-black dark:text-white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio provident dolore beatae pariatur deserunt
                laboriosam iste ducimus tempora! Sit sint illo beatae nemo odit ut exercitationem fuga, voluptates
                temporibus odio!
                <span class="font-bold">Lorem, ipsum dolor..</span>
            </p>

        </div>
        <img class="w-full md:w-1/2 my-6 md:my-0 " data-aos="fade-left" src="/img/2.png" alt="" />
    </div>
    <hr
        class="my-12 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400" />

    <!-- ------------------------- -->
    <div class="max-w-3xl mx-auto text-center mt-16">
        <h1
            class="text-4xl font-bold   text-black dark:text-white leading-tight mb-2 border-t-4 border-b-4 border-purple-600 py-4">
            Coming Soon....
        </h1>
        <p class="text-lg  text-black dark:text-white mb-8">Stay Connected for upadates</p>
    </div>
    <section
        class="container flex flex-col-reverse md:flex-row justify-center items-center w-full my-12 mx-auto font-nun p-8">
        <img class="w-full md:w-1/2 my-6 md:my-0" data-aos="zoom-in-right" src="/img/3.png" alt="" />
        <div class="left w-full md:w-1/2 text-left md:text-left" data-aos="zoom-in-left">
            <h1 class="text-3xl md:text-4xl font-extrabold text-[#3329e0]">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nobis ut rem vitae, fugiat quas vero
                exercitationem inventore temporibus tempore.
            </h1>
            <p class="my-6    text-black dark:text-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas itaque illum assumenda dolor

                suscipit at sapiente ea? Quia quasi quaerat neque inventore qui corporis aut veritatis ducimus quidem
                esse quae alias magni explicabo labore facere dolorum consectetur, illo sed, voluptatum corrupti minima?
                Debitis fugiat molestias, autem modi a officia architecto laudantium ipsam illo veniam rerum odio
                voluptatum libero quod distinctio!
            </p>

        </div>
    </section>
    <div
        class="container flex flex-col-reverse md:flex-row justify-center items-center w-full my-12 mx-auto font-nun p-8 ">
        <div class="left w-full md:w-1/2 text-center md:text-left" data-aos="fade-right">
            <h1 class="text-3xl md:text-4xl font-extrabold text-[#3329e0]">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam possimus distinctio placeat asperiores
                qui nihil quasi voluptatem architecto similique ea.
            </h1>
            <p class="my-6   text-black dark:text-white">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab aspernatur voluptatum doloribus blanditiis
                consectetur ex eligendi dicta eius sunt, officia eaque sequi corrupti laudantium, accusantium voluptate,
                et possimus illo vitae consequatur animi esse natus. Consequuntur fugiat quae, vel sapiente magnam iusto
                ratione ipsam eaque labore autem consectetur a sed ducimus.
            </p>
            <p class="  text-black dark:text-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo natus reprehenderit nemo quo impedit id
                neque necessitatibus iusto tempora doloribus.
                <span class="font-bold">Lorem, ipsum dolor..</span>
            </p>

        </div>
        <img class="w-full md:w-1/2 my-6 md:my-0 " data-aos="fade-left" src="/img/2.png" alt="" />
    </div>
    <section
        class="container flex flex-col-reverse md:flex-row justify-center items-center w-full my-12 mx-auto font-nun p-8">
        <img class="w-full md:w-1/2 my-6 md:my-0" data-aos="zoom-in-right" src="/img/3.png" alt="" />
        <div class="left w-full md:w-1/2 text-left md:text-left" data-aos="zoom-in-left">
            <h1 class="text-3xl md:text-4xl font-extrabold text-[#3329e0]">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti, odit.
            </h1>
            <p class="my-6    text-black dark:text-white">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus obcaecati consequatur error velit
                repudiandae voluptatem ratione cum, in at temporibus eum quas odio dolor facere porro repellat
                distinctio quis ullam sunt? Est explicabo ut esse iusto rem optio illum dolor atque, voluptatem, aut
                omnis culpa commodi totam quasi vitae consectetur perferendis delectus nostrum! Sed consectetur illum
                nisi porro quo reiciendis et asperiores assumenda nulla, laborum saepe, aliquid, quia accusantium iusto!
            </p>

        </div>
    </section>
    <div
        class="container flex flex-col-reverse md:flex-row justify-center items-center w-full my-12 mx-auto font-nun p-8 ">
        <div class="left w-full md:w-1/2 text-center md:text-left" data-aos="fade-right">
            <h1 class="text-3xl md:text-4xl font-extrabold text-[#3329e0]">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, unde.
            </h1>
            <p class="my-6   text-black dark:text-white">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed pariatur accusantium eligendi dolorem
                totam alias vel suscipit debitis aut non quos fugiat sit laudantium vitae at necessitatibus vero tenetur
                dolores, dignissimos sequi ut voluptatum adipisci itaque! Distinctio esse itaque amet.
            </p>
            <p class="  text-black dark:text-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellat, labore quasi tempora ducimus
                corrupti possimus unde, explicabo esse provident architecto beatae vel earum aliquam molestiae
                laboriosam eos maiores quis voluptatibus. Rem dolorum voluptates illum optio vitae eos? Eos, dolorem!
                <span class="font-bold">Lorem, ipsum dolor..</span>
            </p>

        </div>
        <img class="w-full md:w-1/2 my-6 md:my-0 " data-aos="fade-left" src="/img/2.png" alt="" />
    </div>


</body>
<script>
    var themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
    var themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');

    // Change the icons inside the button based on previous settings
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        themeToggleLightIcon.classList.remove('hidden');
    } else {
        themeToggleDarkIcon.classList.remove('hidden');
    }

    var themeToggleBtn = document.getElementById('theme-toggle');

    themeToggleBtn.addEventListener('click', function () {

        // toggle icons inside button
        themeToggleDarkIcon.classList.toggle('hidden');
        themeToggleLightIcon.classList.toggle('hidden');

        // if set via local storage previously
        if (localStorage.getItem('color-theme')) {
            if (localStorage.getItem('color-theme') === 'light') {
                document.documentElement.classList.add('dark');
                localStorage.setItem('color-theme', 'dark');
            } else {
                document.documentElement.classList.remove('dark');
                localStorage.setItem('color-theme', 'light');
            }

            // if NOT set via local storage previously
        } else {
            if (document.documentElement.classList.contains('dark')) {
                document.documentElement.classList.remove('dark');
                localStorage.setItem('color-theme', 'light');
            } else {
                document.documentElement.classList.add('dark');
                localStorage.setItem('color-theme', 'dark');
            }
        }

    });
</script>


<script src="index.js"></script>


</html>