<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href=".img/logo.png">
    <link rel="stylesheet" href="css/output.css">

    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>
    <title>Agree to T&C Connectverse</title>
</head>

<body class="left-0 right-0  bg-white dark:bg-gray-900 ">

    <!-- Section: Design Block -->
    <section class="">
        <!-- Navbar -->
        <nav
            class="relative flex w-full items-center justify-between bg-white dark:bg-gray-900 py-2 shadow-sm shadow-neutral-700/10  dark:shadow-black/30 lg:flex-wrap lg:justify-start">
            <div class="w-full flex flex-wrap items-center justify-between mx-auto p-4 ">
                <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse float-right ">
                    <img src="img/logo.png" class="h-8" alt="Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap text-black dark:text-white">ConnectVerse</span>
                </a>
                <button id="theme-toggle" type="button"
                    class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 float-left">
                    <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                    </svg>
                    <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                            fill-rule="evenodd" clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>

        </nav>
        <!-- Navbar -->
    </section>
    <!-- Section: Design Block -->
    <main class=" bg-white dark:bg-gray-900 bg-[url('img/world.png')]" >
        <div class="w-100 mx-auto px-6 sm:max-w-2xl md:max-w-3xl md:px-12 lg:max-w-5xl xl:max-w-7xl xl:px-32 ">
            <div class="text-center">
                <div class="block rounded-lg bg-[hsla(0,0%,100%,0.8)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-[hsla(0,0%,15%,0.8)] dark:shadow-black/20 md:py-16 md:px-12"
                    style="margin-top: 50px;
              backdrop-filter: saturate(200%) blur(25px);
            ">
                    <p class="mb-3  text-center text-black dark:text-white">Welcome to ConnectVerse, where the
                        world
                        comes together through spontaneous video calls and chats! If you're seeking thrilling encounters
                        and
                        unexpected friendships, you've come to the right place.

                        At ConnectVerse, we understand the excitement of meeting new people from all corners of the
                        globe, and
                        that's why we've crafted a platform that allows you to connect with others randomly, just like
                        the popular
                        Omegle. But we've taken it a step further by incorporating your interests into the matching
                        process.

                        Picture this: you enter our virtual realm and are greeted with a simple prompt to input your
                        interests.
                        Whether you're passionate about art, music, sports, or anything in between, we ensure that your
                        connections
                        are tailored to your preferences.

                        As you embark on your journey through ConnectVerse, you'll be matched with individuals who share
                        your
                        interests, sparking conversations that are as vibrant and diverse as the world itself. From
                        discussing your
                        favorite hobbies to exploring new cultures, the possibilities are endless.

                        But ConnectVerse isn't just about making connections; it's about fostering meaningful
                        relationships that
                        transcend borders and boundaries. Whether you're looking for a casual chat or a lifelong friend,
                        our
                        platform provides the space for authentic connections to flourish.

                        So why wait? Join ConnectVerse today and let the adventure begin. Your next thrilling encounter
                        or
                        unexpected friendship could be just a click away. Welcome to a world of endless possibilities,
                        where every
                        connection is a new chapter waiting to be written.</p>
                    <p class="mb-3 text-center text-gray-500 dark:text-gray-400">By Using ConnectVerse, You accept the
                        terms &
                        conditions.You must be 18+ or 13+ with parental permission</p>

                    <div class="flex items-center">
                        <input id="myCheckbox" type="checkbox" value=""
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="myCheckbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">I
                            agree with the <a href="/terms" class="text-blue-600 dark:text-blue-500 hover:underline">terms
                                and conditions</a>.</label>
                    </div>

                    <hr
                    class="my-12 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400" />
            
                    <h1
                        class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-center">
                        Video is<span class="text-blue-600 dark:text-blue-500">Monitored</span>Keep it Clean</h1>
                    <div class="flex items-center justify-center m-5 p-5 sp">
                        <a class="mb-2 inline-block rounded bg-primary px-12 pt-4 pb-3.5 text-sm font-medium uppercase leading-normal text-black dark:text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] md:mr-2 md:mb-0"
                            data-te-ripple-init data-te-ripple-color="light" href="/video_chat" role="button"
                            id="myButton">VideoChat</a>
                        <a class="text-black dark:text-white inline-block rounded px-12 pt-4 pb-3.5 text-sm font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out hover:bg-neutral-500 hover:bg-opacity-10 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700 dark:hover:bg-opacity-40"
                            data-te-ripple-init data-te-ripple-color="light" href="/text_chat" role="button">TextChat</a>
                    </div>
                </div>
            </div>
            <hr
        class="my-12 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400" />

            <footer class=" bg-white dark:bg-gray-900 text-center  lg:text-left">
                <div class=" p-4 text-center text-surface dark:text-white">
                  © 2024 Copyright:
                  <a href="\index">ConnectVerse</a>
                </div>
              </footer>
</body>
<script>
    var themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
    var themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');

    // Change the icons inside the button based on previous settings
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        themeToggleLightIcon.classList.remove('hidden');
    } else {
        themeToggleDarkIcon.classList.remove('hidden');
    }

    var themeToggleBtn = document.getElementById('theme-toggle');

    themeToggleBtn.addEventListener('click', function () {

        // toggle icons inside button
        themeToggleDarkIcon.classList.toggle('hidden');
        themeToggleLightIcon.classList.toggle('hidden');

        // if set via local storage previously
        if (localStorage.getItem('color-theme')) {
            if (localStorage.getItem('color-theme') === 'light') {
                document.documentElement.classList.add('dark');
                localStorage.setItem('color-theme', 'dark');
            } else {
                document.documentElement.classList.remove('dark');
                localStorage.setItem('color-theme', 'light');
            }

            // if NOT set via local storage previously
        } else {
            if (document.documentElement.classList.contains('dark')) {
                document.documentElement.classList.remove('dark');
                localStorage.setItem('color-theme', 'light');
            } else {
                document.documentElement.classList.add('dark');
                localStorage.setItem('color-theme', 'dark');
            }
        }

    });
</script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script src="/js/main.js"></script>

<script>
    var checkbox = document.getElementById('myCheckbox');
    var button = document.getElementById('myButton');

    button.addEventListener('click', function (event) {
        if (!checkbox.checked) {
            event.preventDefault();
            alert('Please check the checkbox before proceeding.');
        }
    });
</script>

</html>