<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <link rel="stylesheet" href="css/output.css">
    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>
    <title>Terms & Conditions | Connectverse</title>
</head>

<body class="left-0 right-0 bg-white dark:text-white dark:bg-gray-900">
    <section class="">
        <!-- Navbar -->
        <nav
            class="relative flex w-full items-center justify-between bg-white dark:bg-gray-900 py-2 shadow-sm shadow-neutral-700/10  dark:shadow-black/30 lg:flex-wrap lg:justify-start">
            <div class="w-full flex flex-wrap items-center justify-between mx-auto p-4 ">
                <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse float-right ">
                    <img src="/img/logo.png" class="h-8" alt="Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap text-black dark:text-white">ConnectVerse</span>
                </a>
                <button id="theme-toggle" type="button"
                    class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 float-left">
                    <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                    </svg>
                    <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                            fill-rule="evenodd" clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>

        </nav>
        <!-- Navbar -->
    </section>

    <div class="max-w-3xl mx-auto  mt-16">
        <h1
            class="text-4xl font-bold text-center   text-black dark:text-white leading-tight mb-2 border-t-4 border-b-4 border-purple-600 py-4">
            Terms and Conditions
        </h1>




        <p>Welcome to ConnectVerse! These terms and conditions outline the rules and regulations for the use of
            ConnectVerse's website and services.</p>

        <h2>1. Acceptance of Terms</h2>
        <p>By accessing this website, we assume you accept these terms and conditions. Do not continue to use
            ConnectVerse if you do not agree to take all of the terms and conditions stated on this page.</p>

        <h2>2. User Accounts</h2>
        <p>To access certain features of our service, you may be required to create an account. You are responsible for
            maintaining the confidentiality of your account information and for all activities that occur under your
            account.</p>

        <h2>3. Privacy Policy</h2>
        <p>Your privacy is important to us. Please review our <a href="/privacy-policy">Privacy Policy</a>, which
            governs the use of your personal information on our platform.</p>

        <h2>4. Use of Service</h2>
        <ul>
            <li>You must be at least 18 years of age to use our service.</li>
            <li>Users are prohibited from using the service to share or promote illegal content.</li>
            <li>Harassment, abuse, and offensive behavior are strictly prohibited.</li>
        </ul>

        <h2>5. Content Ownership</h2>
        <p>Users retain ownership of the content they create. By using our service, you grant ConnectVerse a worldwide,
            non-exclusive, royalty-free license to use, reproduce, and distribute your content in connection with the
            operation of the service.</p>

        <h2>6. Termination</h2>
        <p>We reserve the right to suspend or terminate your account if you violate these terms and conditions or engage
            in any activity that is harmful to other users or the service.</p>

        <h2>7. Limitation of Liability</h2>
        <p>ConnectVerse is not liable for any damages that may occur from your use of the service. Our service is
            provided "as is" and "as available" without any warranties of any kind.</p>

        <h2>8. Changes to Terms</h2>
        <p>We reserve the right to modify these terms at any time. Any changes will be posted on this page, and your
            continued use of the service constitutes acceptance of those changes.</p>

        <h2>9. Governing Law</h2>
        <p>These terms and conditions are governed by and construed in accordance with the laws of [Your Country], and
            you irrevocably submit to the exclusive jurisdiction of the courts in that location.</p>

        <h2>Contact Us</h2>
        <p>If you have any questions about these Terms and Conditions, please <a href="/contact-us">contact us</a>.</p>

    </div>


</body>
<script>
    var themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
    var themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');

    // Change the icons inside the button based on previous settings
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        themeToggleLightIcon.classList.remove('hidden');
    } else {
        themeToggleDarkIcon.classList.remove('hidden');
    }

    var themeToggleBtn = document.getElementById('theme-toggle');

    themeToggleBtn.addEventListener('click', function () {

        // toggle icons inside button
        themeToggleDarkIcon.classList.toggle('hidden');
        themeToggleLightIcon.classList.toggle('hidden');

        // if set via local storage previously
        if (localStorage.getItem('color-theme')) {
            if (localStorage.getItem('color-theme') === 'light') {
                document.documentElement.classList.add('dark');
                localStorage.setItem('color-theme', 'dark');
            } else {
                document.documentElement.classList.remove('dark');
                localStorage.setItem('color-theme', 'light');
            }

            // if NOT set via local storage previously
        } else {
            if (document.documentElement.classList.contains('dark')) {
                document.documentElement.classList.remove('dark');
                localStorage.setItem('color-theme', 'light');
            } else {
                document.documentElement.classList.add('dark');
                localStorage.setItem('color-theme', 'dark');
            }
        }

    });
</script>


<script src="index.js"></script>


</html>